[Desktop Entry]
Name=Seneca
Comment=Read documents in epub format
Exec=com.github.dyskette.seneca
StartupNotify=True
Terminal=False
Type=Application
Icon=com.github.dyskette.seneca
Categories=GTK;Viewer;
MimeType=application/epub+zip;
