[Desktop Entry]
Name=Seneca
Comment=Read documents in epub format
Exec=seneca
StartupNotify=True
Terminal=False
Type=Application
Icon=seneca
Categories=GTK;Viewer;
MimeType=application/epub+zip;
Name[es_MX]=seneca.desktop
